.Main--div {
    display: flex;
    width: calc(100% - 10px);
    /* min-width: 1000px; */
    height: calc(100% - 114px);/*计算整体页面大小然后减去多余部分剩下的就是视图区域*/
    position: absolute;
    /* overflow-x:scroll; */
    /* box-sizing: border-box; */
}