.Navdownload {
    height: 30px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: #f7f1e3;
    box-shadow: 0 2px 15px #808e9b;
    position: relative;
    /* top:1px; */
    z-index:10;
}

.nav-right--ul-css li {
    float: right;
    line-height: 30px;
    font-size: 14px;
    margin-left: 40px;
}
/*消除 and.css 带来的影响*/
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}