.cover-div {
    border: 1px dashed rgb(218, 63, 202);
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    color: #111;
}
.cover-div span {
    display: block;
    position: relative;
    right: 33px;
    top: 2px;
}